<a href="https://colab.research.google.com/github/Covic/P2ISLA_2023_G_AnDaVa/blob/main/ProjetoIIA.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Importa as bibliotecas

In [31]:
import pandas as pd
import requests
import io

In [35]:
# Caminho para os arquivos CSV
url_cities = 'https://drive.google.com/file/d/1w4RTI9tqUBXFOawQUvhkpPZ0Ie6m1Zl3/view?usp=sharing '
url_sales = 'https://drive.google.com/file/d/1xVHv5Dbd2Ot5MJptWLd3FFzEmjI2UEat/view?usp=drive_link'
url_product = 'https://drive.google.com/file/d/1-xZWqrotDIYcAEK-2P3fKGU1fOTqxv3J/view?usp=drive_link'

In [55]:
#Le url do drive
#csv cities
file_id_cities = '1w4RTI9tqUBXFOawQUvhkpPZ0Ie6m1Zl3'
url_cities = f'https://drive.google.com/uc?id={file_id_cities}'
cities = pd.read_csv(url_cities)

#csv product
file_id_product = '1wQSI6rSeapiPrPn4tQkJUsmMABptTiIn'
url_product = f'https://drive.google.com/uc?id={file_id_product}'
product = pd.read_csv(url_product)

In [48]:
# Exibindo o conteúdo do dataframe cities
print(cities.head())

  store_id storetype_id  store_size city_id_old country_id city_code
0    S0036         ST04          21        C001     TURKEY   Denizli
1    S0005         ST04          19        C001     TURKEY   Denizli
2    S0104         ST04          47        C002     TURKEY    Ankara
3    S0068         ST03          14        C003     TURKEY     ?zmir
4    S0086         ST03          12        C003     TURKEY     ?zmir

In [49]:
# Exibindo o conteúdo do dataframe product
print(product.head())

  product_id  product_length  product_depth  product_width cluster_id  \
0      P0000             5.0           20.0           12.0        NaN
1      P0001            13.5           22.0           20.0  cluster_5
2      P0002            22.0           40.0           22.0  cluster_0
3      P0004             2.0           13.0            4.0  cluster_3
4      P0005            16.0           30.0           16.0  cluster_9

  hierarchy1_id hierarchy2_id hierarchy3_id hierarchy4_id hierarchy5_id
0           H00         H0004       H000401     H00040105   H0004010534
1           H01         H0105       H010501     H01050100   H0105010006
2           H03         H0315       H031508     H03150800   H0315080028
3           H03         H0314       H031405     H03140500   H0314050003
4           H03         H0312       H031211     H03121109   H0312110917

In [61]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

<ipython-input-61-c435df0a068a>:5: DtypeWarning: Columns (11,13) have mixed types. Specify dtype option on import or set low_memory=False.
  sales = pd.read_csv(caminho_arquivo)

In [62]:
#csv sales
caminho_arquivo = '/content/drive/MyDrive/P2source/sales.csv'
sales = pd.read_csv(caminho_arquivo)

<ipython-input-62-3c5fd281a9ac>:3: DtypeWarning: Columns (11,13) have mixed types. Specify dtype option on import or set low_memory=False.
  sales = pd.read_csv(caminho_arquivo)

In [69]:
# Exibindo o conteúdo do dataframe sales
sales

,Unnamed: 0,store_id,product_id,date,sales,revenue,stock,price,promo_type_1,promo_bin_1,promo_type_2,promo_bin_2,promo_discount_2,promo_discount_type_2
0,1,S0002,P0001,2017-01-02,0.0,0.00,8.0,6.25,PR14,NaN,PR03,NaN,NaN,NaN
1,2,S0002,P0005,2017-01-02,0.0,0.00,11.0,33.90,PR14,NaN,PR03,NaN,NaN,NaN
2,3,S0002,P0011,2017-01-02,0.0,0.00,9.0,49.90,PR14,NaN,PR03,NaN,NaN,NaN
3,4,S0002,P0015,2017-01-02,1.0,2.41,19.0,2.60,PR14,NaN,PR03,NaN,NaN,NaN
4,5,S0002,P0017,2017-01-02,0.0,0.00,12.0,1.49,PR14,NaN,PR03,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8886053,8886054,S0143,P0676,2019-10-31,NaN,NaN,NaN,19.90,PR03,verylow,PR03,NaN,NaN,NaN
8886054,8886055,S0143,P0680,2019-10-31,NaN,NaN,NaN,139.90,PR14,NaN,PR03,NaN,NaN,NaN
8886055,8886056,S0143,P0694,2019-10-31,NaN,NaN,NaN,7.50,PR14,NaN,PR03,NaN,NaN,NaN
8886056,8886057,S0143,P0718,2019-10-31,NaN,NaN,NaN,23.75,PR14,NaN,PR03,NaN,NaN,NaN
8886057,8886058,S0143,P0747,2019-10-31,NaN,NaN,NaN,21.90,PR14,NaN,PR03,NaN,NaN,NaN

In [66]:
#Juntando os dataframes
df = pd.merge(sales, cities, on='store_id', how='inner')
df = pd.merge(sales, product, on='product_id', how='inner')

In [67]:
df

,Unnamed: 0,store_id,product_id,date,sales,revenue,stock,price,promo_type_1,promo_bin_1,...,promo_discount_type_2,product_length,product_depth,product_width,cluster_id,hierarchy1_id,hierarchy2_id,hierarchy3_id,hierarchy4_id,hierarchy5_id
0,1,S0002,P0001,2017-01-02,0.0,0.0,8.0,6.25,PR14,NaN,...,NaN,13.5,22.0,20.0,cluster_5,H01,H0105,H010501,H01050100,H0105010006
1,184,S0002,P0001,2017-01-03,0.0,0.0,8.0,6.25,PR14,NaN,...,NaN,13.5,22.0,20.0,cluster_5,H01,H0105,H010501,H01050100,H0105010006
2,365,S0002,P0001,2017-01-04,0.0,0.0,8.0,6.25,PR14,NaN,...,NaN,13.5,22.0,20.0,cluster_5,H01,H0105,H010501,H01050100,H0105010006
3,545,S0002,P0001,2017-01-05,0.0,0.0,8.0,6.25,PR14,NaN,...,NaN,13.5,22.0,20.0,cluster_5,H01,H0105,H010501,H01050100,H0105010006
4,725,S0002,P0001,2017-01-06,0.0,0.0,8.0,6.25,PR14,NaN,...,NaN,13.5,22.0,20.0,cluster_5,H01,H0105,H010501,H01050100,H0105010006
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8886053,8828515,S0104,P0396,2019-10-27,NaN,NaN,NaN,7.90,PR14,NaN,...,NaN,3.0,7.0,3.0,cluster_0,H01,H0108,H010806,H01080616,H0108061601
8886054,8828818,S0104,P0396,2019-10-28,NaN,NaN,NaN,7.90,PR14,NaN,...,NaN,3.0,7.0,3.0,cluster_0,H01,H0108,H010806,H01080616,H0108061601
8886055,8829119,S0104,P0396,2019-10-29,NaN,NaN,NaN,7.90,PR14,NaN,...,NaN,3.0,7.0,3.0,cluster_0,H01,H0108,H010806,H01080616,H0108061601
8886056,8829418,S0104,P0396,2019-10-30,NaN,NaN,NaN,7.90,PR14,NaN,...,NaN,3.0,7.0,3.0,cluster_0,H01,H0108,H010806,H01080616,H0108061601
8886057,8829719,S0104,P0396,2019-10-31,NaN,NaN,NaN,7.90,PR14,NaN,...,NaN,3.0,7.0,3.0,cluster_0,H01,H0108,H010806,H01080616,H0108061601